<div>
    <h1 class="text-center">{{'Welcome to the Special-Events page' | titlecase }}</h1>
</div>
<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of specialevents">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
          <a href="#" class="btn btn-success" (click) ="message()">Buy Course</a>
        </div>
        <div class="card-footer text-muted">
          {{event.date | date : "MM/dd/yy"}}
        </div>
      </div>
    </div>
  </div>